.table-data:nth-child(even) {
background-color: #6e9af8f8;
color:#edf1fe !important;
border-bottom: 1px solid #6e9af8f8 !important;
}

.table-data:nth-child(odd) {
background-color: #5688f5f8;
color:#edf1fe !important;
border-bottom: 1px solid #5688f5f8 !important;
}

.table-data{
transition: all 0.5s;
}
.table-data:hover {
background-color: #edf1fe;
color:#333 !important;
border-bottom: 1px solid #edf1fe !important;
cursor:pointer;
}

.table-header{
 background-color: #6e9af8f8;
 color:#edf1fe !important;
}
