.nav-link {
    color: #fff !important;
    border-radius: 25px;
    transition: .5s;
}

.nav-link:hover {
    background-color: #333;
    color: #fff !important;
}

.nav-logo{
    width:50px;
}

.nav-bar-custom{
    background: linear-gradient(45deg, #fa4118b1, #FA4318);
}