
.dropbtn {
   background-color: transparent;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   text-decoration:none;
   transition: all 0.5s;
   text-align: center;
}
 .dropbtn:hover{
    color:#333 !important;
 }
.table-data:hover a
{
   color:#333 !important;
}




.dropdown {
   position: relative;
   display: inline-block;
   text-align: center;
   
}


.dropdown-content {
   display: none;
   position: absolute;
   z-index: 1;
}

.dropdown-content button {
   color: #fff;
   padding: 5px 20px;
   width:100%;
   display: block;
   background-color: #2079ff;
    border:none;
    outline: none;
    margin-bottom: 3px;
}


.dropdown-content button:hover {
   background-color: #fff;
   color:#333;
   border:none;
   outline: none;
}


.dropdown:hover .dropdown-content {
   display: block;
}


