.anchorBtn {
    padding: 10px 40px;
    background-color: white;
    font-weight: 700;
    font-size: 20px;
    color: #5B86E5;
    transition: .5s;
    border:none;
    border-radius: 25px;
}

.recent-container {
    background: tomato;
    border-top: 1px solid rgba(245, 119, 96, 0.861);
}

.anchorBtn:hover {
    background: #5B86E5;
    color: white;
}